<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find places to stay on Travel XP</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="navbar-container bg-white py-4 flex fixed w-full top-0">
        <a href="#" class="navbar-brand text-pink-600 text-2xl font-bold ml-4 md:ml-32">Travel XP</a>
    </div>
    
    {{{body}}}

</body>
</html>

<!-- test push with the views folders updated as far as i know-->